/* FONT-FACE */
/* Changa · latin */
@font-face {
    font-family: 'Changa';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/changa/v27/2-cm9JNi2YuVOUckZpy-eOz1pQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Changa';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/changa/v27/2-cm9JNi2YuVOUckZpy-eOz1pQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Changa';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/changa/v27/2-cm9JNi2YuVOUckZpy-eOz1pQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Roboto Slab · latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v34/BngMUXZYTXPIvIBgJJSb6ufN5qWr4xCC.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v34/BngMUXZYTXPIvIBgJJSb6ufN5qWr4xCC.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v34/BngMUXZYTXPIvIBgJJSb6ufN5qWr4xCC.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Roboto · latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}  
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu51xIIzIXKMny.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  
/* GENERALL */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0 10%;
}
section {
    border: 2px solid black;
    margin: 10px auto;
    padding: 10px;
}

/* TEXTE */
h1,
h2,
h3 {
    font-weight: 800;
}
h1 {
    text-transform: uppercase;
    font-size: 30px;
}
h2 {
    font-size: 26px;
    text-transform: uppercase;
    margin-top: 5px;
}
h3 {
    font-size: 22px;
    line-height: 20px;
    text-decoration: underline;
}
p, li {
    font-weight: 400;
    font-size: 18px;
    line-height: 20pt;
}
ul {
    /* background-color: yellow; */
    padding-left: 30px;
    margin-top: -7px;
}

/* COLORS SECTION */
#color_blocks {
    margin-top: -5px;
    margin-bottom: 15px;
}
.color_block {
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 5px auto;
    margin-right: 3pt;
    padding: 0 50px;
    padding-bottom: 5px;
}
.color_block h3 {
    font-size: 16px;
}
#cool_blue {
    background-color: #2d5dcc;
    color: white;
}
#pink {
    background-color: #d957d9;
}
#mint_green {
    background-color: #4fe0b0;
}
#beige {
    background-color: #efd9ca;
}

/* FONTS SECTION */
#font_blocks {
    /* margin-top: -7px; */
    margin-bottom: -2px;
}
.font_block {
    display: inline-block;
    width: auto;
    margin: 5px auto;
    margin-top: -25px;
    margin-right: 2px;
    padding-right: 25px;
    /* background-color: yellow; */
}
.font_block p {
    line-height: 20px;
    margin-top: -7pt;
}
.changa {
    font-family: 'Changa', sans-serif;
}
.roboto_slab {
    font-family: 'Roboto Slab', sans-serif;
}
.roboto {
    font-family: 'Poppins', sans-serif;
}
strong {
    font-weight: 700;
}
.font_light {
    font-weight: 300;
}
.font_medium {
    font-weight: 500;
}
.font_bold {
    font-weight: 700;
}

/* TEXT STYLES SECTION */
#text_style_blocks {
    margin-top: -27px;
    margin-bottom: 5px;
}
.titre_h1 {
    font-size: 26px;
    font-weight: 700;
    margin-top: 50px;
}
.titre_h2 {
    font-size: 18px;
    font-weight: 500;
}
.para_p {
    font-size: 14px;
    font-weight: 400;
}